.form_holder
{
	display: table;
	margin:0 auto;
	font-size:16px;
	background: none !important;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: red;
}
::-moz-placeholder { /* Firefox 19+ */
  color: red;
}
:-ms-input-placeholder { /* IE 10+ */
  color: red;
}
:-moz-placeholder { /* Firefox 18- */
  color: red;
}

#website_name
{
	background:#fffddd none repeat scroll 0 0;
	opacity:.5;
    border: medium none;
    border-radius: 50px 0 0 50px;
    display: inline-block;
    float: left;
    font-size: 16px;
    font-weight: 500;
    height: 50px;
    padding-left: 6%;
    text-align: center;
    transition: all 0.3s ease 0s;
    width: 400px;
    color: black !important;
}

#submit{
    background: #F25858 none repeat scroll 0 0;
    opacity:.9;
    border: medium none;
    border-radius: 0 50px 50px 0;
    display: inline-block;
    float: left;
    font-size: 20px;
    font-weight: 400;
    height: 50px;
    line-height: 50px;
    padding-left: 12px;
    text-align: left;
    transition: all 0.3s ease 0s;
    width: 70px;
}

#submit:hover
{
	opacity:.6;
	background:#F25858;
}
#submit .fa
{
	padding-left:10px;
	padding-right:10px;
}

@media screen and (max-width: 640px) 
{
	#website_name
	{
		width:220px;
	}								    
}
	