.row-container
{
	background:#E9EBEE;
	font-family:'Open Sans';
}

.img-cover
{
	position:relative;
	border-radius:none;
	background:#fff;
	width:100%;
	height:390px !important;
	border:1px solid #ccc;
}

.img-profile
{
	position:absolute; 
	bottom:10px; 
	margin-left:1%;
	border-radius:none;
	border:1px solid #ccc;
	padding:2px;
	height:200px;
	width:200px;
	background:#fff;
}

.top-tab
{
	margin-top:10px;
}

.no-padding
{
	padding:0;
}

.col-box-container
{
	margin-top:20px;
}

.col-box
{	
	background:#fff;
	border:1px solid #ccc;
	padding:15px;
	margin-bottom:15px;
}

.col-left .col-box
{
	padding:0;
}
.col-right .col-box
{
	padding-bottom:0;
}
.col-right a
{
	text-decoration:none;
	color:#000;
}

.facebook-body .nav-tabs
{
	border:none;
}


.post-thumbnail
{
	margin-top:20px;	
	border:1px solid #ccc;
	background:#eee;
	padding:3px;
}

.img-pic-thumbail
{
	width:40px;
	border:1px solid #ccc;
	display:inline;
}

.post-description
{
	margin-top:20px;
	margin-bottom:20px;
	text-align:justify;
}

.share-count
{
	margin:20px 0;
	font-size:20px;
	color:#3B5998;
}

.layer
{
	border-bottom:1px solid #eee;
	width:100%;
	padding:25px;
}
.layer .fa
{
	color:#3B5998;
}


@media (min-width: 1280px)
{
	.col-right
	{
		padding-left:20px;
	}
	.margin{margin-top:180px;}
}

@media (max-width: 767px)
{
	.img-container{display:none;}
}
