body {
	/*padding-top: 20px;*/
	padding-bottom: 10px;
}
.logo-inside img{width:148px;height: auto;}
.navbar-header-name img{width:52px;height: auto;}
.navbar-header-name {
    position: relative;
    width: 300px;
    float: left;
    padding-right: 15px;
    padding-top: 10px;
}
.col-md-3{
    float:left;
    width:20%;
    
}
.col-md-9{
    float:left;
    width:80%;
    
}
/* Custom container */
.container-narrow {
	margin: 0 auto;
	max-width: 880px;
}
.container-narrow > hr {
	margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
	margin: 0px 0;
	text-align: center;
}
.jumbotron h1 {
	font-size: 46px;
	line-height: 1;
}

.analyseBtn {
	margin-right: 1px;
	font-size: 21px !important;
	padding: 14px 24px !important;
    -webkit-border-radius: 0 4px 4px 0 !important;
    -moz-border-radius: 0 4px 4px 0 !important;
    border-radius: 0 4px 4px 0 !important;
}

.website-input {
	border-right: none !important;
	margin-right: 1px;
	padding: 14px 24px !important;
}

.noFloat {
	float:none !important;
}
#errors {
	margin:0 auto 20px auto;
}
/* Supporting marketing content */
.marketing {
	margin: 60px 0;
}
.marketing p + h4 {
	margin-top: 28px;
}

textarea {
	width:auto !important;
}

div.form .errorSummary {
  color: #b94a48;
  background-color: #f2dede;
  border:1px solid #b94a48;
	padding: 7px 7px 12px 7px;
	margin: 0 0 20px 0;
	font-size: 0.9em;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

div.form .errorMessage {
	color: red;
	font-size: 0.9em;
}

div.form .errorSummary p {
	margin: 0;
	padding: 5px;
}

div.form .errorSummary ul {
	margin: 0;
	padding: 0 0 0 20px;
}

input.error,
select.error,
textarea.error  {
  border-color: #b94a48;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  color: #b94a48;
}

input.error:focus,
select.error:focus,
textarea.error:focus {
  border-color: #953b39;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}
/*.no-top-line*/
.table td {
	padding:10px;
}
.no-top-line td {
	border-top: none !important;
}
.lead {
	margin: 10px 0 10px !important;
	font-size:16px;
}
.over-max, .collapse-task { display: none; }
.stat-td #website-form .error { margin-left: 0 !important; }
.stat-td #website-form { margin-bottom:0 !important; }
.h-review { font-size:24px; margin-top:0 !important; }
#update_stat { font-weight:bold; cursor:pointer; }
#upd_help {
	font-size:16px;
	padding-left:10px;
    vertical-align: top;
    margin-top: 15px;
	display:none;
}
.marketing-img {
	padding:4px;
	margin:0 10px 5px 0;
}
.compare {
	font-size:12px;
	font-weight:bold;
}
.adv-icon {
	width:32px;
	height:32px;
}
.adv-icon-warning { background:url(../img/warning.png) no-repeat;}
.adv-icon-success { background:url(../img/success.png) no-repeat;}
.adv-icon-error { background:url(../img/error.png) no-repeat;}
.adv-icon-neutral { background:url(../img/neutral.png) no-repeat;}
.cloud-container .grade-1{font-weight:300;font-size:12px;color:rgba(0, 0, 0, 0.5);}
.cloud-container .grade-2{font-weight:300;font-size:14px;color:rgba(0, 0, 0, 0.6);}
.cloud-container .grade-3{font-size:18px;color:rgba(0, 0, 0, 0.7);}
.cloud-container .grade-4{font-size:20px;color:#315d86;}
.cloud-container .grade-5{font-weight:600;font-size:24px;color:#315d86;}
.rating_ico {
 width:205px !important;
 height:154px !important;
}

.recaptchatable .recaptcha_r1_c1,
.recaptchatable .recaptcha_r3_c1,
.recaptchatable .recaptcha_r3_c2,
.recaptchatable .recaptcha_r7_c1,
.recaptchatable .recaptcha_r8_c1,
.recaptchatable .recaptcha_r3_c3,
.recaptchatable .recaptcha_r2_c1,
.recaptchatable .recaptcha_r4_c1,
.recaptchatable .recaptcha_r4_c2,
.recaptchatable .recaptcha_r4_c4,
.recaptchatable .recaptcha_image_cell {
	background: none !important;
}

#recaptcha_table {
	width:100%;
}

#recaptcha_image,
#recaptcha_challenge_field_holder,
.recaptcha_input_area,
.recaptcha_image_cell,
.recaptcha_input_area input {
	width:220px !important;
}

.download_form {
	display: none;
}
#affix-menu.affix,
.screenshot.affix {
    position: fixed;
    top: 20px;
}
.screenshot.affix-bottom {
    position: relative;
}
#navbar-review-mobile.affix {
    position: fixed;
    top: 0;
}
.score-label {
    font-size: 20px;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
}
.score-label:first-child {
    margin-top: 0;
}
.score-header {
    font-size: 18px;
}
.advice-caret {
    color: #333;
    margin-right: 5px;
}
.advice-title {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 5px;
}
.advice-container { margin-bottom: 20px; }
.impact-title { font-size: 16px; margin-bottom: 12px }
.screenshot {
    height: 485px;
    margin-top: 30px;
    position: relative;
    width: 250px;
}
.screenshot.mobile {
    background: url(../img/mobile.png) no-repeat;
}
.screenshot.mobile .screenshot-img-container {
    width: 225px;
    height: 375px;
    clip: rect(0,225px,375px,0);
    top: 54px;
    left: 12px;
    right: 13px;
}
.screenshot.desktop .screenshot-img-container {
    width: 181px;
    height: 121px;
    clip: rect(0,181px,121px,0);
    top: 45px;
    left: 32px;
}
.screenshot.desktop {
    background: url(../img/desktop.png) no-repeat;
    height: 220px;
}

.screenshot-img-container {
    position: absolute;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
ul.url-block {
    background-color: #fff;
    max-height: 324px;
    overflow-x: hidden;
    overflow-y: auto;
    padding-left: 0;
    margin-left: 0;
}
ul.url-block li {
    border-top: 1px #ccc dashed;
    list-style: none;
    padding: 3px;
    word-wrap: break-word;
}
ul.url-block li:first-child {
    border-top: none;
}
.group-divider:last-child {
    display: none;
}

/* Sidenav for Docs
-------------------------------------------------- */

.bs-docs-sidenav {
    width: 228px;
    background-color: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
    box-shadow: 0 1px 4px rgba(0,0,0,.065);
}

/* Desktop large
------------------------- */
@media (min-width: 1200px) {
    .bs-docs-sidenav {
        width: 258px;
    }
    .bs-docs-sidenav > li > a {
        width: 230px \9; /* Override the previous IE8-9 hack */
    }
}

/* Desktop
------------------------- */
@media (max-width: 980px) {

    /* When affixed, space properly */
    .bs-docs-sidenav {
        top: 0;
        width: 218px;
        margin-top: 30px;
        margin-right: 0;
    }
}

/* Tablet to desktop
------------------------- */
@media (min-width: 768px) and (max-width: 979px) {
    /* Adjust sidenav width */
    .bs-docs-sidenav {
        width: 166px;
        margin-top: 20px;
    }
    .bs-docs-sidenav.affix {
        top: 0;
    }
}

@media (min-width: 768px) {
    .screenshot {
        float: right;
    }
}
/* Tablet
------------------------- */
@media (max-width: 767px) {
    /* Sidenav */
    .bs-docs-sidenav {
        width: auto;
        margin-bottom: 20px;
    }
    .bs-docs-sidenav.affix {
        position: static;
        width: auto;
        top: 0;
    }
    #navbar-review-mobile.affix {
        width: 95%;
        overflow: hidden;
    }
    .screenshot {
        margin: 0 auto;
    }
}

@media (max-width: 480px) {
    #navbar-review-mobile.affix {
        width: 91%;
    }
}

/**
* RESPONSIVE RULES
*/
@media only screen and (min-width : 768px) {
    .compare {
        width: 172px;
    }
}